*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cont ul
{
  list-style: none;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: 350px;
}

.cont ul li
{
  height: 300px;
  width:300px;
  background-color: black;
  margin-top:20px;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
}
.cont ul li a
{
  text-decoration: none;
}
.cont ul li img
{
  height: 175px;
  width: 275px;
  margin-top: 15px;
  margin-left: 13px;
  border-radius: 10px;
}
.cont ul li a h1,h3
{
  color: aliceblue;
  margin-left: 10px;
}
.lv
{ display: flex;
  color: aliceblue;

}
.lv
{
  margin-left: 55px;
}
.lv h6
{
  margin-left: 10px;
}
.logoTitle
{
  display: flex;
}
